article {
	font-family: Noto Sans, Gadugi, sans-serif;
}
article h1 {
	font-family: Noto Sans Mono, Source Code Pro, monospace;
}
.blog {
	margin: auto;
	max-width: 90%;
	width: 50em;
	color: #141414;
}
.blog div {
	padding: 0.5em 0.5em 0.5em 2em;
}
.proj-md {
	margin-left: 1em;
}

.italic {
	font-style: oblique;
}
.bold {
	font-weight: bold;
}
.em {
	font-style: oblique;
	/*font-weight: bold;*/
}
.section {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 125%;
	margin: 1.5em;
}
.block {
	width: fit-content;
	margin: 0.5em;
}
article code, .code, .code-java, .code-js {
	white-space: pre-wrap;
	tab-size: 4;
	font-family: monospace;
	font-size: 110%;
	background-color: #eee;
	padding: 2px 4px 2px 4px;
}
.code-nowrap {
	white-space: nowrap;
	tab-size: 4;
	font-family: monospace;
	font-size: 110%;
	background-color: #eee;
}
.quote {
	white-space: pre-wrap;
	font-style: oblique;
	background-color: #eee;
}
