article {
	font-family: Noto Sans, Gadugi, sans-serif;
}
article h1 {
	font-family: Noto Sans Mono, Source Code Pro, monospace;
}
.blog {
	margin: auto;
	max-width: 95%;
	width: 50rem;
	color: #141414;
}
.blog div {
	padding: 0.5rem 0.5rem 0.5rem 2rem;
}

.italic {
	font-style: oblique;
}
.bold {
	font-weight: bold;
}
.em {
	font-style: oblique;
	/*font-weight: bold;*/
}
.section {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 125%;
	margin: 1.5rem;
}
.block {
	margin: 0.5rem;
}
article code, .code, .code-java, .code-js {
	white-space: pre-wrap;
	tab-size: 4;
	font-family: monospace;
	font-size: 110%;
	background-color: #eee;
	padding: 0.2rem 0.4rem 0.2rem 0.4rem;
	border-radius: 0.25rem;
}
.code-nowrap {
	white-space: nowrap;
	tab-size: 4;
	font-family: monospace;
	font-size: 110%;
	background-color: #eee;
}
.quote {
	white-space: pre-wrap;
	font-style: oblique;
	background-color: #eee;
}
.chapter-title {
	font-weight: bold;
	font-size: 120%;
	width: 100%;
	text-align: center;
	display: inline-block;
	margin: 0.5rem 0 0.5rem 0;
}
article table {
	border-collapse: collapse;
}
article thead {
	font-weight: bold;
	text-align: center;
}
article td {
	border: 1px solid #ccc;
	padding: 0.4rem 1rem 0.4rem 1rem;
}
article .tbl-row-1 {
	background-color: #f4f4f4;
}
