.full {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	background-color: #fff;
}
nav {
	position: relative;
	min-height: 4.5em;
	border-bottom: 1px solid #ccc;
	background-color: #303440;
}
#inner-nav {
	position: absolute;
	display: flex;
	flex-direction: row;
	margin: auto;
	padding-left: 0.5em;
	top: 0;
	bottom: 0;
	left: 0;
}
.nav-item {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	font-family: Noto Sans, Gadugi, sans-serif;
	text-decoration: none;
	padding-left: 1em;
	padding-right: 1em;
}
.nav-item :hover {
	color: #fff0a0;
}
.nav-item.nav-item-cur span {
	color: #dde;
}
.nav-item.nav-item-cur span:hover {
	color: #fff0a0;
}
.nav-item span {
	color: #bbc;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 0.3em;
}

.button:hover {
	background-color: #26f;
}
.button {
	font-family: Noto Sans, Gadugi, sans-serif;
	font-weight: bold;
	background-color: #48f;
	color: #f8f8f8;
	padding: 0.8em;
}
.no-margin-top-bottom {
	margin-top: 0;
	margin-bottom: 0;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.flex-g {
	flex-grow: 1;
}
