body {
	margin: 0;
	background-color: #fff;
}
nav {
	height: 4.5em;
	border-bottom: 1px solid #ccc;
}
#inner-nav {
	display: flex;
	flex-direction: row;
	margin: auto;
	height: 100%;
	max-width: calc(80% + 2.5em);
}
.nav-item {
	display: flex;
	flex-direction: column-reverse;
	text-decoration: none;
	padding-left: 1em;
	padding-right: 1em;
}
.nav-item :hover {
	color: #111;
	text-decoration: underline;
}
.nav-item.nav-item-cur span {
	color: #111;
}
.nav-item span {
	color: #fff;
	-webkit-text-stroke: 0.02em #111;
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 0.3em;
}
