#articles {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.article-column {
	max-width: 40%;
}
.article-column a {
	text-decoration: none;
	display: block;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	padding-right: 1px;
	padding-bottom: 1px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.article-column a:hover {
	background-color: #e8eaec;
	padding: 0;
	border: 1px solid #ccc;
}
.article-left {
	margin-right: 1rem;
}
.article-right {
	margin-top: min(12rem, 16vh);
	margin-left: 1rem;
}
.article-preview {
	pointer-events: none;
	position: relative;
	overflow: clip;
	height: min(24rem, 32vh);
}
.article-preview article {
	padding-top: 0.1rem;
}
.preview-overlay {
	position: absolute;
	pointer-events: none;
	width: 100%;
	height: 40%;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
}
