#articles {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.article-column {
	max-width: 40%;
}
.article-column a {
	text-decoration: none;
}
.article-left {
	margin-right: 2em;
}
.article-right {
	margin-top: min(12em, 16vh);
	margin-left: 2em;
}
.article-preview {
	position: relative;
	overflow: clip;
	height: min(24em, 32vh);
}
.preview-overlay {
	position: absolute;
	pointer-events: none;
	width: 100%;
	height: 40%;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
}
