#projects {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.proj-box {
	position: relative;
	display: block;
	text-decoration: none;
	color: #222;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-top: 1px;
	padding-left: 1px;
	width: min(24em, 90vw);
	margin: 1em;
}
.proj-box:hover {
	background-color: #e8eaec;
	padding: 0;
	border: 1px solid #ccc;
}
.proj-box article {
	position: relative;
	pointer-events: none;
	overflow: clip;
	height: min(24em, 32vh);
	padding-top: 0.1em;
}
.proj-overlay {
	position: absolute;
	pointer-events: none;
	width: 100%;
	height: 40%;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
	z-index: 1;
}
#proj-screen {
	display: flex;
	flex-direction: column;
	height: 100%;
}
#proj-main {
	position: relative;
	width: 100%;
	height: 100%;
}
#proj-sidebar {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: min(20em, 25%);
	border-right: 1px solid #ccc;
	background-color: #f8f8f8;
	overflow: auto;
}
#proj-name {
	padding-left: 5%;
	width: 90%;
	overflow-wrap: break-word;
}
#proj-name a {
	text-decoration: none;
	color: #222;
}
#proj-name:hover {
	text-decoration: underline;
}
#proj-sidebar ul {
	list-style-type: none;
	padding-left: 1.5em;
	font-family: monospace;
	color: #222;
}
#proj-sidebar li {
	font-style: oblique;
}
#proj-sidebar a {
	text-decoration: none;
	color: #222;
}
.proj-sidebar-item {
	cursor: pointer;
	user-select: none;
}
.proj-sidebar-item:hover {
	text-decoration: underline;
}
#proj-content {
	position: absolute;
	left: min(20em, 25%);
	right: 0;
	top: 0;
	bottom: 0;
	overflow: auto;
}
.file-code::before {
	counter-reset: listing;
}
.file-code {
	display: flex;
	flex-direction: column;
	white-space: pre;
	tab-size: 4;
	font-family: monospace;
	font-size: 110%;
}
.file-code code::before {
	content: counter(listing);
	display: inline-block;
	width: 4em;
	padding-right: 1em;
	margin-right: 1em;
	text-align: right;
	background-color: #e8eaec;
}
.file-code code {
	counter-increment: listing;
}
